# Supabase Session Pooler Configuration
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.xvyjjkyglogjndsrxqgi
DB_PASSWORD=your_supabase_password_here

# Initial Listmonk Superadmin Credentials
LISTMONK_ADMIN_USER=admin
LISTMONK_ADMIN_PASSWORD=admin
